/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}


@media screen and (max-width: 550px) {
  .mobileSubTitle {
    font-size: 1.2rem;
  }
  .mobileTitle {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .mobileSubTitle {
    font-size: 1.05rem;
  }
  .mobileTitle {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 370px) {
  .mobileSubTitle {
    font-size: 0.9rem;
  }
  .mobileTitle {
    font-size: 1.6rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
