/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ED6A45;
  --ifm-color-primary-dark: #E8471C;
  --ifm-color-primary-darker: #C33A13;
  --ifm-color-primary-darkest: #9D0D0D;
  --ifm-color-primary-light: #F7A790;
  --ifm-color-primary-lighter: #FEDAD0;
  --ifm-color-primary-lightest: #FFEFE8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ED6A45;
  --ifm-color-primary-dark: #E8471C;
  --ifm-color-primary-darker: #C33A13;
  --ifm-color-primary-darkest: #9D0D0D;
  --ifm-color-primary-light: #F7A790;
  --ifm-color-primary-lighter: #FEDAD0;
  --ifm-color-primary-lightest: #FFEFE8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.home-button {
  background-color: white;
  box-shadow: 4px 6px 4px rgba(0.9, 0.9, 0.9, 0.05);
}

.hero--primary {
  background-color: #3D3E45;
  background-image: url("../../static/img/background-img.svg") ;
  background-repeat: no-repeat;
  background-size: cover;
}

html[data-theme='light'] footer {
  background-color: #3D3E45;
}

html[data-theme='light'] .theme-doc-footer-edit-meta-row {
  background-color: white;
}

html[data-theme='light'] .pagination-nav {
  background-color: white;
}